Repository fanduel-oss/refract, pull requests merged in 2018-09, with the labels that each got.

#69 fix npm readme logos
  base/react/README.tpl.md
  base/redux/README.tpl.md
Labels: documentation

#73 Make connecting to react doc clearer
  docs/usage/connecting-to-react.md
Labels: documentation

#75 Push initial value to Redux selector observers
  CHANGELOG.md
  base/redux/observable.ts
  base/redux/observable_callbag.ts
  base/redux/observable_most.ts
  base/redux/observable_xstream.ts
  docs/usage/observing-redux.md
  package.json
  packages.js
  packages/refract-redux-callbag/package.json
  yarn.lock
Labels: bug, callbag, most, redux, rxjs, xstream

#77 Support mapping data to props and replacing props
  base/__tests__/inferno/callbag/index.tsx
  base/__tests__/inferno/most/index.tsx
  base/__tests__/inferno/rxjs/index.tsx
  base/__tests__/inferno/xstream/index.tsx
  base/__tests__/preact/callbag/index.tsx
  base/__tests__/preact/most/index.tsx
  base/__tests__/preact/rxjs/index.tsx
  base/__tests__/preact/xstream/index.tsx
  base/__tests__/react/callbag/aperture.ts
  base/__tests__/react/callbag/index.tsx
  base/__tests__/react/most/aperture.ts
  base/__tests__/react/most/index.tsx
  base/__tests__/react/rxjs/aperture.ts
  base/__tests__/react/rxjs/index.tsx
  base/__tests__/react/xstream/aperture.ts
  base/__tests__/react/xstream/index.tsx
  base/react/configureComponent.ts
  base/react/effects.ts
  base/react/index.ts
  base/react/observable_callbag.ts
  base/react/observable_most.ts
  base/react/observable_xstream.ts
  base/react/withEffects.ts
  base/react/withEffects_inferno.ts
  base/react/withEffects_preact.ts
  scripts/copy.js
Labels: callbag, feature, inferno, most, preact, react, rxjs, xstream

#76 Support apertures emitting elements
  base/__tests__/inferno/callbag/index.tsx
  base/__tests__/inferno/most/index.tsx
  base/__tests__/inferno/rxjs/index.tsx
  base/__tests__/inferno/xstream/index.tsx
  base/__tests__/react/callbag/aperture.ts
  base/__tests__/react/callbag/index.tsx
  base/__tests__/react/most/aperture.ts
  base/__tests__/react/most/index.tsx
  base/__tests__/react/rxjs/aperture.ts
  base/__tests__/react/rxjs/index.tsx
  base/__tests__/react/xstream/aperture.ts
  base/__tests__/react/xstream/index.tsx
  base/react/configureComponent.ts
  base/react/observable.ts
  base/react/observable_callbag.ts
  base/react/observable_most.ts
  base/react/observable_xstream.ts
  base/react/withEffects.ts
  base/react/withEffects_inferno.ts
  base/react/withEffects_preact.ts
Labels: callbag, feature, inferno, most, preact, react, rxjs, xstream
